<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>National University of Stalkers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  
  <% 
  
  function appendChecksum(matric) {
      var sum = 0;
      for (var i=1; i<8; i++) {
          sum += parseInt(matric[i]);
      }
      var table = ['Y', 'X', 'W', 'U', 'R', 'N', 'M', 'L', 'J', 'H', 'E', 'A', 'B'];
      return matric + table[sum%13];
  }
  
  %>

  <body>

    <div class="container text-center">
        <h1><%= person.displayName %></h1>
        
        <table class="table">
            <tr>
                <th>Matric</th>
                <td style="text-transform:uppercase"><%= appendChecksum(person.name) %>
                    <span id="matricInfo" style="text-transform:none; padding: 0 2em;"></span></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><%= person.mail %></td>
            </tr>
            <tr>
                <th>Career</th>
                <td id="career"></td>
            </tr>
            <tr>
                <th>Faculty</th>
                <td><%= person.department %></td>
            </tr>
            <tr>
                <th>Course</th>
                <td id="course"></td>
            </tr>
            <tr>
                <th>Modules</th>
                <td>
                    <% if (person.modules.length === 0) { %>
                        Not yet assigned
                    <% } %>
                    <ul>
                    <% for (var i=0; i<person.modules.length; i++){ %>
                        <li><%= person.modules[i] %></li>
                    <% } %>
                </ul></td>
            </tr>
            <tr>
                <th>Groups</th>
                <td>
                    <% if (person.groups.length === 0) { %>
                        Not a member of any group
                    <% } %>
                    <ul>
                    <% for (var i=0; i<person.groups.length; i++){ %>
                        <li id="group<%= i %>"></li>
                    <% } %>
                </ul></td>
            </tr>
        </table>
	<div class="pull-right">
	<button onclick="history.back()"  class="btn">Back</button>
        <a href="/" class="btn">New Search</a>
	</div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $.get('/api/getDisplayName?dn=<%= person.course %>', function(data){
            $('#course').text(data);
        });
        
        $.get('/api/getDisplayName?dn=<%= person.career %>', function(data){
            $('#career').text(data);
        });
        
        <% for (var i=0; i<person.groups.length; i++){ %>
            $.get('/api/getDisplayName?dn=<%= person.groups[i] %>', function(data){
                $('#group<%= i %>').text(data);
            });
        <% } %>
        var fullMatricNum = "<%= person.name %>";
        var matricNum = parseInt(fullMatricNum.substr(1), 10),
            factors = [];
        for(var p = 2; p <= matricNum; p++){
            while(matricNum % p == 0){
                factors.push(p);
                matricNum /= p;
            }
        }
        if(!factors.length){
            $("#matricInfo").html("This matriculation number is a prime!").css({
                color: "red"
            });
        }else{
            $("#matricInfo").html("This matriculation number can be factorized as " + factors.join(" * ")); 
        }
    </script>
    <!--<script>
    var careerDn = '<%= person.career %>';
    var courseDn = '<%= person.course %>';
    </script>-->
  </body>
</html>
